[tool.poetry]
name = "nortech"
version = "0.3.15"
description = "The official Python library for Nortech AI"
authors = ["Nortech AI <info@nortech.ai>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://nortech.ai/"
repository = "https://github.com/Nortech-ai/nortech-python"

[tool.poetry.dependencies]
python = "^3.9"
polars = "^0.19.19"
s3fs = "2023.6.0"
aiobotocore = "2.5.2"
pydantic = "^2.5.2"
bytewax = "^0.20.0"
pydantic-settings = "^2.2.1"
pint = "^0.23"
python-dotenv = "^1.0.1"
tzlocal = "^5.2"
pytz = "^2024.1"
pyarrow = ">=4.0.0,<16"
pandas = "^2.2.2"
requests = "^2.32.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
ipykernel = "^6.27.1"
black = "^23.11.0"
flake8 = "^6.1.0"
moto = {extras = ["server"], version = "^4.2.11"}
plotly = "^5.22.0"
matplotlib = "^3.9.0"
ipywidgets = "^8.1.3"
nbformat = "^5.10.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
