[tool.poetry]
name = "nortech"
version = "0.0.1"
description = "The official Python library for Nortech AI"
authors = ["Nortech AI <info@nortech.ai>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://nortech.ai/"
repository = "https://github.com/Nortech-ai/nortech-python"

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^2.1.3"
polars = "^0.19.19"
pyarrow = "^13.0.0"
s3fs = "2023.6.0"
aiobotocore = "2.5.2"
pydantic = "^2.5.2"
moto = {extras = ["server"], version = "^4.2.11"}


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
ipykernel = "^6.27.1"
black = "^23.11.0"


[tool.poetry.group.boto3.dependencies]
moto = "^4.2.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
